body{
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
}

div{
    width: 187px;
    height: 169px;
    background: url("/html/sol-1.png");
    display: block;
    animation: sunshine-rev 1.1s ease both;
}
div:hover{
    animation: sunshine 1.1s ease forwards;
}


@keyframes sunshine{
    0%{
        background-position: 0;
    }
    20%{
        background: url("/html/sol-2.png");
    }
    40%{
        background: url("/html/sol-3.png");
    }
    60%{
        background: url("/html/sol-4.png");
    }
    80%{
        background: url("/html/sol-5.png");
    }
    100%{
        background: url("/html/sol-5.png");
        transform: scale(1.05);
    } 
}
@keyframes sunshine-rev{
    
    0%{
        background: url("/html/sol-5.png");
        transform: scale(1.05);
    } 
    20%{
        background: url("/html/sol-5.png");
    }
    40%{
        background: url("/html/sol-4.png");
    }
    60%{
        background: url("/html/sol-3.png");
    }
    80%{
        background: url("/html/sol-2.png");
    }
    100%{
        background-position-x: 0;
        transform: scale(1);
    }
}