/*estilo interno*/
h1 {
  font-size: 50px;
}
.inner-btns {
  display: flex;
  justify-content: center;
  gap: 8%;
}
.inner-btns button {
  width: 168px;
  min-width: 125px;
  height: 70px;
  border-radius: 10px;
  background-color: transparent;
  font-family: "Amatic SC";
  font-weight: bold;
  border: solid 1px #002020;
  color: #002020;
  cursor: pointer;
  transition: all 0.75s ease-out;
  font-size: 20px;
}
.inner-header img:nth-of-type(1) {
  width: 320px;
  display: block;
  margin: 0 auto 30px;
}
.inner-header img:nth-of-type(2) {
  width: 120px;
  display: block;
  margin: 0 auto;
}

/*PÁGINA APRESENTAÇÃO*/

h1 {
  text-align: center;
  margin-bottom: 40px;
}
main {
  background-image: linear-gradient(
    #dfddb9,
    white,
    white,
    white,
    white,
    white,
    #dfddb9,
    #dfddb9
  );
}
main p {
  line-height: 36px;
  margin-bottom: 28px;
}
main p:nth-of-type(1) {
  clear: right;
}
main p:nth-of-type(2) {
  width: 58%;
}
main img:nth-of-type(1) {
  width: 38%;
  float: right;
  box-shadow: 0 0 40px rgba(0, 32, 32, 0.6);
  border-radius: 5px;
}
main blockquote {
  width: 35%;
  margin-right: 20px;
  float: left;
  font-size: 12px;
}
main ol {
  /* text-align: center; */
  list-style-position: inside;
  margin: 0 0 40px 40px;
}
main ol li {
  line-height: 2.3;
}
/*responsividade*/
/*mobile*/
@media only screen and (max-width: 576px) {
  /*geral*/
  h1 {
    font-size: 2.4em;
  }
  .inner-btns {
    display: none;
  }
  .inner-btns-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  .inner-btns-bottom span {
    font-size: 12px;
    transform: translateY(8px);
  }
  .inner-btns-bottom button {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Amatic SC";
    font-weight: bold;
    border: solid 1px #002020;
    color: #002020;
    cursor: pointer;
    transition: all 0.75s ease-out;
    font-size: 18px;
  }
  /*página*/
  main p {
    font-size: 15px;
    line-height: 24px !important;
  }
  main img:nth-of-type(1) {
    display: none;
  }
  .img-mobile {
    width: 85%;
    margin: 0 auto 30px;
    float: none;
    box-shadow: 0 0 40px rgba(0, 32, 32, 0.6);
    border-radius: 5px;
    display: block;
  }
  main p:nth-of-type(2) {
    width: 100%;
  }
  main blockquote {
    width: 40%;
    margin-right: 20px;
    float: left;
    font-size: 10px;
  }
  main ol {
    /* text-align: center; */
    list-style-position: inside;
    margin: 0 0 40px 20px;
  }
  main ol li {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
}

/*ajustes desktop*/
@media (min-width: 577px) {
  .img-mobile,
  .inner-btns-bottom {
    display: none !important;
  }
}
