/*estilo interno*/
h1 {
  font-size: 50px;
}
.inner-btns {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.inner-btns button {
  width: 168px;
  min-width: 125px;
  height: 70px;
  border-radius: 10px;
  background-color: transparent;
  font-family: "Amatic SC";
  font-weight: bold;
  border: solid 1px #002020;
  color: #002020;
  cursor: pointer;
  transition: all 0.75s ease-out;
  font-size: 20px;
}
.inner-header img:nth-of-type(1) {
  width: 320px;
  display: block;
  margin: 0 auto 30px;
}
.inner-header img:nth-of-type(2) {
  width: 120px;
  display: block;
  margin: 0 auto;
}

/*PÁGINA APRESENTAÇÃO*/

h1 {
  text-align: center;
  margin-bottom: 40px;
}
main {
  background: white;
}
main p {
  line-height: 36px;
  margin-bottom: 28px;
}
main p:nth-of-type(1) {
  clear: right;
}
main p:nth-of-type(2) {
  width: 58%;
}
main img:nth-of-type(1) {
  width: 38%;
  float: right;
  box-shadow: 0 0 40px rgba(0, 32, 32, 0.6);
  border-radius: 5px;
}
main blockquote {
  width: 35%;
  margin-right: 20px;
  float: left;
  font-size: 12px;
}
main ol {
  /* text-align: center; */
  list-style-position: inside;
  margin: 0 0 40px 40px;
}
main ol li {
  line-height: 2.3;
}
