@media (max-width: 1120px) {
  .container {
    padding: 20px;
  }
  #intro .intro-image {
    opacity: 0.5;
    transition: 2s;
  }
}
@media (min-width: 577px) {
  .main-menu > i,
  #menu-principal > i {
    display: none;
  }
  .dropdown-content > hr {
    display: none;
  }
  #intro-mobile {
    display: none;
  }
  #facts-mobile {
    display: none;
  }
  #news-mobile {
    display: none;
  }
  .mobile-footer {
    display: none !important;
  }
}

/*MOBILE*/
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 36px;
  }
  a {
    text-decoration: none;
  }
  /*menu*/
  header #menu .main-menu {
    display: none;
  }
  #menu #menu-principal {
    display: none;
  }
  #menu {
    justify-content: start;
    padding-left: 20px;
  }
  #btn-menu-mobile {
    display: block;
    border: none;
    background: transparent;
    font-size: 1.2em;
  }
  #btn-menu-mobile span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.85em;
  }
  .menu-d-block {
    display: block !important;
    position: absolute;
    top: 50px;
    background: #dfddb9;
    box-shadow: -1px 1px 30px rgba(0, 32, 32, 0.8),
      0px 0px 0px 2px rgb(0, 32, 32, 0.8);
    transition: 0.5s;
    z-index: 2;
    border-radius: 5px;
  }
  .active-mobile-menu {
    transform: translateY(0px) !important;
    opacity: 1 !important;
  }
  .animate-menu,
  .menu {
    transform: translateY(-20px);
    transition: 0.5s;
  }
  #menu ul {
    background: #e99469;
  }
  #menu ul .dropdown,
  #menu-item-42 {
    display: block;
  }
  #menu ul .dropdown:hover .dropdown-content,
  #menu-item-42 > ul {
    position: static;
    margin: 0 auto;
    background: transparent;
    box-shadow: none;
  }
  .sub-menu li {
    padding: 0 !important;
  }
  .dropdown-content > hr {
    border: 2px;
    border-top: 1px solid #002020;
    margin: 5px auto;
    width: 50px;
  }
  .dropdown-content a,
  #menu-item-42 > ul a {
    font-size: 0.85em;
  }
  .main-menu > i,
  #menu-principal > i {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 26px;
    padding: 5px;
  }
  .no-scroll {
    height: 100%;
    overflow: hidden;
  }
  /*intro*/
  .banner-intro {
    flex-direction: column;
    width: 10%;
  }
  .banner-intro-left img {
    max-width: 350px;
    margin-bottom: 30px;
  }
  .banner-intro-right P {
    display: none;
  }
  .banner-intro-right img {
    width: 120px;
  }

  /*separador*/
  .separator {
    width: 100%;
    margin: 15px auto;
  }
  .separator div {
    height: 30px;
    flex: 1 0 30px;
  }

  /*introdução*/
    #intro {
    display: none;
  }
  #intro-mobile {
    overflow: hidden;
    margin-top: 50px;
  }
  #intro-mobile .intro-image {
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.7;
    float: right;
    height: 290px;
    background-size: contain;
  }
  /*início botões*/
  #intro-mobile .btn-wrapper {
    font-family: "Amatic SC", sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    position: absolute;
  }
  /*tag e ícone*/
  .btn-wrapper > p {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 9px;
    max-width: 50px;
    margin-left: 4px;
    /* position: absolute; */
  }
  #intro-mobile .btn-wrapper .intro-btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .intro-btn .intro-icon {
    min-width: 60px;
    height: 60px;
    /* background-color: #eb5b25; */
    background-image: linear-gradient(45deg, #eb5b25, #f36936);
    box-shadow: 0px 0px 4px #002020a9;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    box-sizing: border-box;
    border: 2px solid #00202025;
  }
  .atv-btn {
    border: 2px solid #0020204d !important;
  }
  .atv-btn img {
    transform: scale(1.2);
  }
  .intro-btn .intro-icon img {
    display: block;
    margin: 0 auto;
    width: 28px;
    transition: 0.5s;
  }
  .intro-btn:nth-child(2) .intro-icon img {
    width: 36px;
  }
  .intro-btn:nth-child(4) .intro-icon img {
    width: 24px;
  }
  /*slide título*/
  .intro-slide-title {
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding-right: 35px;
    border-radius: 0px 5px 5px 0px;
    background: url("img/icons/draw-arrow.png") no-repeat right, #eb5a258f;
    background-size: 24px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: 0.5s;
  }
  .intro-btn:nth-of-type(1) .intro-slide-title {
    width: 115px;
  }
  .intro-btn:nth-of-type(2) .intro-slide-title {
    width: 178px;
  }
  .intro-btn:nth-of-type(3) .intro-slide-title {
    width: 90px;
  }
  .intro-btn:nth-of-type(4) .intro-slide-title {
    width: 158px;
  }

  /*o que é*/
  .intro-mobile-content {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro-mobile-content h2 {
    margin-top: 10%;
  }
  .intro-mobile-content > div {
    width: 360px;
    height: 256px;
    background: url("img/giz-azul-op.png") 50% no-repeat;
    background-size: 100%;
  }
  .intro-mobile-content > div p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    transform: translateY(35px);
    font-weight: 600;
    text-shadow: 1px 1px 1px #bfbfbf;
  }
  .intro-mobile-content > div p:nth-child(1) {
    margin-bottom: 10px;
  }
  /*você sabia*/
  #facts {
    display: none;
  }
  #facts-mobile {
    background-image: linear-gradient(#dfddb9, white, white, white, white);
  }
  /*accordion*/
  /* .facts-bg-mobile {
    background: url("img/pintura-infantil-2.png") no-repeat;
    background-size: 40%;
    background-position: right;
    background-position-y: 150px;
  } */

  #facts-mobile .container {
    min-height: 400px;
  }
  #facts-mobile .facts-accordion {
    width: 300px;
  }
  .accordion-box {
    margin-bottom: 20px;
  }
  #facts-mobile .facts-accordion img {
    width: 100%;
  }
  #facts-mobile .facts-accordion .content {
    height: 40px;
    overflow: hidden;
    width: 308px;
  }
  #facts-mobile .facts-accordion .content p {
    font-size: 12px;
    text-align: center;
    width: 300px;
    line-height: 20px;
  }
  .label {
    position: relative;
    height: 64px;
  }
  .label i {
    font-size: 30px;
    position: absolute;
    left: 20px;
    text-shadow: 1px 1px 1px black;
    transition: 0.5s;
  }
  .accordion-box.active-accordion .label i {
    transform: rotate(-90deg);
  }
  .accordion-box .content {
    transition: 0.5s;
  }
  .accordion-box.active-accordion .content {
    height: 165px !important;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px;
  }
  .accordion-box.active-accordion .content p:nth-child(2) {
    margin-top: 5px;
  }
  .accordion-box.active-accordion:nth-child(2) .content {
    height: 210px !important;
  }
  .accordion-box.active-accordion:nth-child(2) .content button {
    margin: 10px auto 0;
    display: block;
    border: none;
    background: #75ffa17c;
    padding: 5px;
    border-radius: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    box-shadow: 0px 0px 6px #0020203a;
  }
  .accordion-box.active-accordion span.ret {
    display: none;
  }
  /*box vermelho*/
  .facts-accordion > .accordion-box:nth-of-type(1) .label i {
    top: 15px;
    color: #d65730;
  }
  /*box verde*/
  .facts-accordion > .accordion-box:nth-of-type(2) .label i {
    top: 15px;
    color: #93bb25;
  }
  #facts-mobile .content-plano p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }
  #facts-mobile .content-plano p + img {
    border-radius: 5px;
  }

  /*box amarelo*/
  /* .facts-accordion > .accordion-box:nth-of-type(3) .label i {
    top: 15px;
    color: #eab02a;
  } */
  /*grid box verde*/
  /* .facts-accordion > .accordion-box:nth-of-type(2) .content p {
    width: auto !important;
  }
  .facts-accordion > .accordion-box:nth-of-type(2) .content .preview {
    transform: translateY(5px);
  }
  .facts-accordion > .accordion-box:nth-of-type(2) .content .complete {
    transform: translateY(5px);
    display: grid;
    grid-template-areas: "row1 row1" "row2-data row2" "row3 row3" "row4-data row4";
  }
  .facts-accordion
    > .accordion-box:nth-of-type(2)
    .content
    .complete
    p:nth-child(1) {
    grid-area: row1;
    margin-top: 5px;
  }
  .facts-accordion
    > .accordion-box:nth-of-type(2)
    .content
    .complete
    > span:nth-child(2) {
    grid-area: row2-data;
    font-size: 30px;
    left: 15px;
    width: 68px;
    margin-left: 45px;
  }
  .facts-accordion
    > .accordion-box:nth-of-type(2)
    .content
    .complete
    > p:nth-child(3) {
    grid-area: row2;
    width: 130px !important;
    margin: 3px 45px 0 0;
  }
  .facts-accordion
    > .accordion-box:nth-of-type(2)
    .content
    .complete
    > p:nth-child(4) {
    grid-area: row3;
    margin-bottom: 3px;
  }
  .facts-accordion
    > .accordion-box:nth-of-type(2)
    .content
    .complete
    > span:nth-child(5) {
    grid-area: row4-data;
    font-size: 32px;
    margin-left: 20px;
    transform: translateY(-5px);
  }
  .facts-accordion
    > .accordion-box:nth-of-type(2)
    .content
    .complete
    > p:nth-child(6) {
    grid-area: row4;
    margin-right: 20px;
  }*/
  .facts-accordion > .accordion-box.active-accordion .content .preview {
    display: none;
  }

  /*título você sabia*/
  #facts-mobile .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
  }
  .news-end div:nth-child(2) {
    display: none;
  }

  /*novidades*/
  .news {
    display: none;
  }
  #news-mobile {
    background: white;
  }
  #news-mobile h2 {
    text-align: center;
  }
  #news-mobile .container > img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  #news-mobile article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .news-area {
    margin-top: 20px;
  }
  .news-area article img {
    border-radius: 5px;
    margin-right: 20px;
    width: 35%;
    height: 100px;
  }
  .news-area article .news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
  }
  .news-area article span.date {
    font-size: 8px;
    font-style: italic;
  }
  .news-area article span.news-tag {
    font-size: 10px;
    text-transform: uppercase;
  }
  .news-area article h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
  }
  .news-area article p {
    font-size: 12px;
  }
  hr {
    border: 2px;
    border-top: 1px solid #004040;
    margin: 40px auto;
    width: 70%;
  }
  .news-mobile-end span {
    display: block;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
  }
  .news-mobile-end > p {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .news-mobile-end h3 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
  }
  .news-mobile-end form {
    display: flex;
    justify-content: space-between;
  }
  .news-mobile-end input[type="text"] {
    width: 70%;
    height: 36px;
    padding: 0 20px;
    font-size: 18px;
    margin-right: 5px;
  }
  .news-mobile-end input[type="button"] {
    width: 20%;
    height: 40px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  /*parceiros*/
  .parceiros {
    padding-top: 20px;
  }
  .logos-wrapper > div {
    width: 110px;
    text-align: center;
    margin-top: 0;
    flex-shrink: 0;
  }
  .logos-wrapper > div > img {
    width: 80%;
  }
  /*footer*/
  .mobile-footer {
    flex-direction: column;
  }
  footer div.desktop {
    display: none;
  }
  div.container.mobile-footer img {
    margin: 0 auto;
  }
  .footer-content-mobile {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }
  .footer-content-mobile .left-footer {
    width: 40%;
  }
  .footer-content-mobile .contato {
    margin-bottom: 10px;
  }
  .footer-content-mobile .contato p {
    font-size: 10px;
  }
  .footer-content-mobile .contato p:nth-of-type(1)::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
  }
  .footer-content-mobile .contato p:nth-of-type(2)::before {
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
  }
  .footer-content-mobile .redes span {
    display: block;
    margin-bottom: 5px;
  }
  .footer-content-mobile .redes i {
    font-size: 30px;
    margin-right: 10px;
  }
  .footer-content-mobile .text {
    font-size: 8px;
    text-align: center;
    margin-top: 10px;
  }
  .footer-content-mobile .menu-footer {
    text-align: right;
  }
  .footer-content-mobile .menu-footer ul {
    list-style: none;
    font-size: 10px;
    margin-bottom: 20px;
  }
  .footer-content-mobile .menu-footer ul li {
    line-height: 1.8;
  }
  .footer-content-mobile .pmc-ima img:nth-child(1) {
    width: 25px;
    float: right;
  }
  .footer-content-mobile .pmc-ima img:nth-child(2) {
    width: 70px;
    float: right;
  }
}
